/*default layout for mobile*/
header{
  font-family: "Roboto";
  font-weight: bold;
  background-color: #1B2733;
  color: #FFFFFF;
  text-align: left;
  font-size: 14pt;
}

#skip-button {
  background-color: #1B2733;
}

button{
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 1px;
  border-color: #000000;
}

body{
  background-color: #d9d9d9;
  text-align: center;
}

nav{
  overflow: hidden;
  position: relative;
}

.hamburger{
  display: block;
  text-align: right;
  position: sticky;
  margin: 4px;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #1B2733;
}

#menuItems {
  display: none;
  background-color: #FFFFFF;
}

#menuItems a {
  color: #000000;
  text-decoration: none;
}

li{
  font-family: "Roboto";
  padding: 15px;
}

li:hover{
  background: #d9d9d9;
}

h1{
  font-size: 18pt;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 5px;
}

main{
  font-family: "Roboto";
  min-height: 100vh;
}

img{
  width: 90%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.callout{
  position: fixed;
  top: 20%;
  left: 10%;
  max-width: 80%;
  z-index: 99;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.callout-header{
  text-align: left;
  padding: 15px 10px;
  background: #1B2733;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: bold;
}

.callout-container{
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
}

.close{
  position: absolute;
  top: 7px;
  right: 7px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  background-color: #1B2733;
}

.accordion{
  background-color: #1B2733;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 15px;
}

.accordion-content{
  background-color: #d9d9d9;
  display: none;
  overflow: hidden;
  padding: 15px;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.active{
  display: block;
}

#modal-header{
  background-color: #1B2733;
  font-size: 20px;
  padding: 5px;
  height: 30px;
}

#closeModal{
  z-index: 999;
  background-color: #1B2733;
}

#video-modal{
  display: none;
  position: fixed;
  z-index: 999;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  overflow: auto;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#entire-video{
  text-align: center;
  background-color: #d9d9d9;
}

#cat-video{
  width: 65%;
}

address{
  font-family: "Roboto";
}

p{
  font-family: "Roboto";
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

footer{
  font-family: "Roboto";
  background-color: #1B2733;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  line-height: 1.25;
  display: grid;
}

#email {
  color: #FFFFFF;
}

.current{
  background: #d9d9d9;
}

@media only screen and (min-width: 900px) { /*for web*/
  h1 {
    text-align: left;
  }
  nav {
    overflow: visible;
  }
  .hamburger {
    display: none;
  }
  #menuItems {
    display: inline;
  }
  #menu {
    display: inline;
  }
  nav ul {
    background-color: #FFFFFF;
  }
  nav ul li {
    display: inline-block;
  }
  body {
    text-align: center;
  }
  .image-and-text{
    display: inline;
    max-width: 50%;
    text-align: center;
    justify-content: center;
  }
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .callout{
    top: 70%;
    left: 75%;
    margin-left: 20px;
    max-width: 20%;
  }
  #cat-video{
    width: 30%;
  }
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.skip{
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
    top: -80px;
    left: 0px;
    transition: top ease-in 0.5s;
  color: black;
  font-family: "Oxygen", Helvetica, sans-serif;
  overflow: visible;
  background: white;
  border: 1px solid black;
  width: auto;
  height: auto;
}

a.skip:active,
a.skip:focus,
a.skip:hover{
  top: 10px;
  overflow: visible;
  background: yellow;
}
/* skip code more or less copied and then modified from week 5 lecture example file*/
/* could not figure out how to move skip button back over to left side so as not to cover up header when in focus */
