/*default layout for mobile*/
header{
  font-family: "Roboto";
  font-weight: bold;
  background-color: #1B2733;
  color: #FFFFFF;
  text-align: left;
  font-size: 14pt;
}

#skip-button {
  background-color: #1B2733;
}

body{
  background-color: #d9d9d9;
  text-align: center;
}

nav{
  overflow: hidden;
  position: relative;
}

.hamburger{
  display: block;
  text-align: right;
  position: sticky;
  margin: 4px;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #1B2733;
}

#menuItems {
  display: none;
  background-color: #FFFFFF;
}

#menuItems a {
  color: #000000;
}

li{
	text-decoration: none;
  font-family: "Roboto";
  padding: 15px;
}

li:hover{
  /* font-weight: bold; */
  text-decoration: underline;
  background: #d9d9d9;
}

/* a{
  color: #FFFFFF;
} */

h1{
  font-size: 18pt;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 5px;
}

main{
  font-family: "Roboto";
  min-height: 100vh;
}

img{
  width: 90%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.callout{
  position: fixed;
  top: 20%;
  left: 10%;
  max-width: 80%;
  z-index: 999;
  margin: auto;
}

.callout-header{
  text-align: left;
  padding: 15px 10px;
  background: #1B2733;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: bold;
}
.callout-container{
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
}
.close{
  position: absolute;
  top: 7px;
  right: 7px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}

address{
  font-family: "Roboto";
}

p{
  font-family: "Roboto";
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* nav a{
  text-decoration: none;
} */

footer{
  font-family: "Roboto";
  background-color: #1B2733;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  line-height: 1.25;
  display: grid;
}

#email {
  color: #FFFFFF;
}

.current{
  /* font-weight: bold;
  text-decoration: underline; */
  background: #d9d9d9;
}

/* @media only screen and (min-width: 550px) {
  header {
    display: grid;
    grid-template-columns: auto;
  }
  body {
    text-align: center;
  }
  img{
    width: 90%;
    height: auto;
  }
  .homepage-image{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .image-and-text{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-align: left;
    align-items: center;
  }
} */

@media only screen and (min-width: 900px) { /*for web*/
  h1 {
    text-align: left;
  }
  nav {
    overflow: visible;
  }
  .hamburger {
    display: none;
  }
  #menuItems {
    display: inline;
  }
  #menu {
    display: inline;
  }
  nav ul {
    background-color: #FFFFFF;
  }
  nav ul li {
    display: inline-block;
    /* border-left-width: 2px;
    border-right-width: 2px;
    border-color: #d9d9d9; */
  }
  /* ul {
    display: inline;
  }
  li {
    display: inline;
  } */
  body {
    text-align: center;
  }
  .image-and-text{
    display: inline;
    max-width: 50%;
    text-align: center;
    justify-content: center;
  }
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .callout{
    top: 70%;
    left: 75%;
    margin-left: 20px;
    max-width: 20%;
  }
  /* .callout-header{
    text-align: left;
    padding: 15px 10px;
    background: #1B2733;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Roboto";
    font-style: bold;
  }
  .callout-container{
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
  }
  .close{
    position: absolute;
    top: 7px;
    right: 7px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  } */
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.skip{
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
    top: -80px;
    left: 0px;
    transition: top ease-in 0.5s;
  color: black;
  font-family: "Oxygen", Helvetica, sans-serif;
  overflow: visible;
  background: white;
  border: 1px solid black;
  width: auto;
  height: auto;
}

a.skip:active,
a.skip:focus,
a.skip:hover{
  top: 10px;
  overflow: visible;
  background: yellow;
}
/* skip code more or less copied and then modified from week 5 lecture example file*/
/* could not figure out how to move skip button back over to left side so as not to cover up header when in focus */
